hw2/resources/von_karman_street/vortex_street_velocities_Re_300_largefile.npz
hw2/resources/von_karman_street/vortex_street_velocities_Re_600_largefile.npz
hw2/resources/von_karman_street/vortex_street_velocities_Re_900_largefile.npz
hw2/resources/von_karman_street/vortex_street_velocities_Re_1200_largefile.npz
